@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

$marginBase:5%;

a {
    text-decoration:none;
    color: black;
}

* {
    margin:0;
    padding:0;
}

body{
    background: black;
    color: white;
}

img{
    border-radius: 10px;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:rgb(255, 255, 255);
    padding: 0 $marginBase;
    background-color: rgba(0, 0, 0, 0.3);

    & h1 {
        display: flex;
        & a{
            color: white;
            text-decoration: none;
            font-size: 10vw;
            cursor: pointer;
            transition-duration: 100ms;
            vertical-align: bottom;
            
            &:hover{
                text-shadow: 2px 2px 2px  rgb(255, 251, 0);
            } 
        }

    margin-bottom: 30px; 

    }
    & .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
    }

    & .manage{
        display: flex;
        margin:20px 0;
    }

    & .user-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin:10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 30px;
        align-items: center;
    }

    & .user-menu{
        z-index: 1000;
        position: absolute;
        color:black;
        background:white;
        width:200px;
        top:200px;
        right:$marginBase;
        list-style-type: none;
        text-align: center;
        border-radius: 0  0 10px 10px;
        opacity: 0.8;
        overflow: hidden;

        & li{
            cursor: pointer;

            & a {
                color: black;
                padding: 3px 5px;                
                width: 100%;
                height: 100%;
                display: block;
              
            }
            &:hover{
                background-color: #c9c9c9;
                color:white;
            } 
        }
    }
}

main{
    margin-top:100px;
    min-height: 500px;
}

.article{
    margin: 0 $marginBase;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding-bottom: 15px;
    width:75%;
    display: block;
    border-bottom: 1px solid white;

    &::first-letter{
        text-transform: uppercase;
    }
}

.orders-article{
    margin: 50px $marginBase;
    margin-bottom: 0;
}

.popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

.popular-field{
    overflow: hidden;
    position: absolute;
    display: flex;
    max-width:90%;
    margin: 10px $marginBase;

    & .orders-container{
        overflow: hidden;
        display: flex;
        top:110px;
        transition-duration: 400ms;
    }

    & .order-container{
        background-color:#c9c1aa;
        color: black;       

        &:hover{
            & img{
                filter: blur(1px);
                transform: scale(1.1);
            }
        }

        & .image-container{
            display: block;
            overflow: hidden;
            width: 90%;
            height: 80%;
            border-radius: 20px;
        }

        & img{
            transition-duration: 0.5s;
            width:100%;
            height: 100%;
        }
    }
}

.arrow{
    cursor: pointer;
    font-size: 4.5vw;
    color:#cecece;  
    user-select:none;
    &:hover{
        color:rgb(167, 167, 167);
    }
    &:active{
        color:rgb(255, 255, 255);
    }
}
.left{
    transform: scale(-1, 1);
}


.orders{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 700px;
}
.popular{
    .order-container{
        min-width:35vw;


    }

}
.order-container{
    cursor: pointer;
    max-width: 450px;
    height:20vw;
    min-height: 170px;
    background-color: #dbdbdb;
    padding: 10px 0;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: sans-serif;
    border-radius: 20px;
    
    &:hover {
        & img {
            filter: blur(1px);
            transform: scale(1.1);
        }
    }

    & .image-container {
        display: block;
        overflow: hidden;
        width: 90%;
        height: 80%;
        border-radius: 20px;
    }

    & img {
        transition-duration: 0.5s;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .order-info{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width:88%;
        height: 28%;
    }

    & .order-description {
        font-size: 14px;
        width:70%;

        &::first-letter{
            text-transform: uppercase;
        }
    }

    & .order-name{
        min-width: 300px;
        text-align: center;
        position: absolute;
        margin-top: 6vw;
        color:white;
        font-size: 2vw;
        text-shadow: 1px 1px 2px #000;
    }

    & .order-price {
        color:#424242;
        font-size: 3vw;
        font-family: Roboto;
        
    }

    & .bigger-description {
        font-size: 18px;
    }
}

.orders{
    background: rgba(0, 0, 0, 0.3);
    & .orders-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:90%;
        height:100%;
        margin: 0 $marginBase;
        
    }  

    & .orders-container-container{
        display: flex;
        height: 95%;
        justify-content: flex-start;

        & .order-container{
            height: 100%;
            max-height: 500px;
            width: 50%;
            max-width: 600px;
            margin-left:0;
            margin-right:10px;
            padding-top: 20px;
            color: black;

            & .order-name{
                margin-top: 140px;
                font-size: 40px;
            }

            & .order-description{
               font-size: 24px;  
               height: 100%;
               display: flex;
               align-items: flex-end;
            }

            & .order-info{
                max-height: 500px;
            }

            & .order-price{
                font-size: 48px;
            }
        }
    }
    
    & .pages{
        display: flex;
        justify-content: flex-start;
        width:100%;
        height: 50px;
        margin: 50px 0;

        & .set-page{
            height: 10vw;
            width: 10vw;
            max-height: 70px;
            max-width: 70px;
            margin-right: 10px;
            background-color: #6b6877;
            color: white;
            border: none;
            border-radius: 20px;
            font-size: 24px;
            cursor: pointer;
            transition-duration: 200ms;

            &:hover{
                background-color: #827f91;
            }

            &:active {
                background-color: #c0bbd6;
            }

        }
    
        & .choosen{
            background-color: #ffffff;
            color: black;

            &:hover {
                background-color: #ffffff;
            }
            
            &:active {
                background-color: #ffffff;
            }
        }
    }
}

.shipping-payment{
    height: 400px;
    display: flex;
    margin: 80px $marginBase 0px $marginBase;
    flex-direction: column;
    justify-content: space-between;

    & h2{
        height: 15%;
    }

    & .container{
        display: flex;
        width: 100%;
        height: 75%;
        justify-content: space-between;

        & div{
            max-width: 45%;
        }
    }
    & h3{
        margin: 10px 0;
    }
}

.background{
    opacity: 0.3;
    height: 200px;
    width: 100%;
    z-index: -1;
    position: absolute;
    background: center / cover no-repeat url("./img/mixed-ingredient-pizza-with-isolated-products-stone.jpg");
}

.footer-black{
    height: 200px;
    width: 100%;
    z-index: -2;
    position: absolute;
    background-color: black;
}

#body-background{
    opacity: 0.4;
    height: 100%;
    width: 100%;
    top:0px;
    z-index: -3;
    position: fixed;
    background: 0px bottom / cover no-repeat url("./img/pizza-time-tasty-homemade-traditional-pizza-italian-recipe.jpg");
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    color: white;

    & li {
        list-style-type: none;
    }

    & .adresses {
        font-size: 16px;

        &>h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

    & .info {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 24px;

        & .phone-number {
            display: inline;
            margin: 10px;
        }

    }
}

.modal-background{
    position: fixed;
    z-index:1000;
    background-color:#00000079;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    
    & .menu-container {
        margin:auto;
        margin-top: 2%;
        width: 50%;
        height: 90%;
        background-color:white;
        display: flex;
        color: #464646;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        border-radius: 30px;
        padding: 10px;
        
    }

    & .image-container{
        width:95%;
        height:55%;
        overflow: hidden;
        border-radius: 10px;

        & img{
            width:100%;
            object-fit: cover;
            height: 100%;

        }        
    }

    & .close{
        cursor: pointer;
        min-height:50px;
    }

    & .close-container {
        display: flex;
        justify-content: flex-end;
        width:95%;
        font-size: 48px;
        height:5%;   
        min-height: 50px;
        line-height: 48px; 
    }

    & .order-name {
        font-size: 42px;
    }

    & .button-container{
        width: 40%;
        height: 9%;     
        min-width: 280px; 
    }

    & button {
        border: none;
        width:100%;
        height:100%;
        border-radius: 20px;
        font-size: 28px;
        font-family: Rubik;
        color: white;
        font-weight: 900;
        background-color:#60568a;
        cursor: pointer;
        box-shadow: 0 7px #433574;
        outline: none;
        letter-spacing: 1px;
        transition-duration: 100ms;
        min-height: 60px;

        &:hover{
            margin-top: 1.2px;
            box-shadow: 0 6px #433574;
        }

        &:active{
            margin-top:6px;
            box-shadow: 0 0 #433574;
        }
    }

    & .added{
        background-color: #ff8888;
        box-shadow: 0 7px #743535;
        min-width: 280px;
        min-height: 60px;
        &:hover{
            box-shadow: 0 6px #743535;
        }
        &:active{
            box-shadow: 0 0px #743535;
        }
    }

    & .modal-head{
        display: flex;
        width:90%;
        font-size: 30px;
        justify-content: center;
        gap: 50px;

        & h3{
            font-family: Roboto;
            font-weight: 900;
            font-size: 48px;
        }
    }

    & .order-description{
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        max-width: 95%;
        width:95%;
        &::first-letter{
            text-transform: uppercase;
        }
    }

}

.balance-control-page {
    display: flex;
    font-size:42px;
    width:90%;
    margin: 0 $marginBase;
    justify-content: space-around;
    font-family: Rubik;

    & > div{
        width:40%;

        & input{
            box-sizing: border-box;
            height:50px;
            max-width:100%;
            width:100%;
            font-size: 30px;   
            font-family: Rubik;

        }

        & button{
            width:30%;
            cursor: pointer;
            font-family: Rubik;
            font-size: 1.5vw;
        }
    }
}

.control-panel{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    & button{
        min-height: 50px;

    }
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    opacity: 0.5;
    font-size:10vw;
    font-family: Rubic;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;

}

.orderPage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;   

    & .button-container{
        max-height: 100px;
        height: 100px;
        display: flex;
        width: 50%;
        margin-left: $marginBase;
    }

    & .toOrder {
        border: none;
        width: 300px;
        height: 70px;
        border-radius: 20px;
        font-size: 32px;
        font-family: Rubik;
        color: white;
        font-weight: 900;
        background-color: #60568a;
        cursor: pointer;
        box-shadow: 0 7px #433574;
        outline: none;
        letter-spacing: 1px;
        transition-duration: 100ms;
        letter-spacing: 2px;
        &:hover {
            margin-top: 1.2px;
            box-shadow: 0 6px #433574;
        }
        &:active {
            margin-top: 6px;
            box-shadow: 0 0 #433574;
        }
    }

    & .order-header{
        display: flex;
        width:100%;
        height:100px;

        & .order-name{
            width: 100%;
            height: 100%;
            font-size: 4vw;
            text-align: center;
            display: flex;
            align-items:center;
            justify-content: center;
        }

        & .cross{
            width:10%;
            height: 100%;
            line-height: 60px;
            color:#353535;
            font-size: 6vw;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
        }
    }

     & .order{
        max-width:100%;
        height:35vw;
        min-height: 300px;
        display: flex;
        gap:40px;
        padding: 10px $marginBase;
        background-color: rgba(255, 255, 255, 0.514);
        color: black;  

        & img{
            width:50%;
            object-fit: cover;
        }         
        
        & .order-info{
            width: 50%;
            display:flex;
            flex-direction: column;  
            justify-content: space-between;
            gap:30px;

            & .order-description{
                font-size: 2vw;
                min-height:100px;
                &::first-letter{
                    text-transform: uppercase;
                }
            }     
            
            & .balance-control{
                height:40%;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                padding-bottom: 5%;
                font-family: Roboto;
                margin: 0;
            }

            * .order-price{
                max-width:30%;
                width:50%;
                font-size: 6vw;
            }

            & .counter{
                display: flex;
                min-width: 200px;
                max-width: 200px;
                width: 200px;

                & input{
                    width:70px;
                    text-align: center;
                    height:50px;
                    border: none;
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                }
                & button{
                    min-width: 50px;
                    width:50px;
                    height:50px;
                    border: none;
                }
            }
        }      
    }
}



.total{
    position: fixed;
    right:22.5%;
    top:0;
    width:15%;
    height: 120px;
    border-radius: 0 0 10px 10px;
    background:white;
    font-size: 40px;
    color:black;
    opacity: 0.5;
    text-align: center;
    font-family: Rubik;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    display: flex;
    margin: 0 $marginBase;
    justify-content: space-between;
    width:90%;
    font-family: Rubick;
    font-size: 30px;

    & .control-panel{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:100px;
        width:60%;
    }

    & .input-container{
        width:100%;
        height:70%;

        & input{
            width:50%;
            height: 50px;
            font-size: 30px;
            padding-left: 15px;
        }

        & textarea{
            width:100%;
            height:100%;
            resize: none;
        }
    }

    & .input-name{
        height: 30%;
    }

    & .user-info{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2{
            font-family: Roboto;
            letter-spacing: 1px;
        }

        & img{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 50px;
        }
    }
}

@media (max-width: 1100px) {
    .profile-container{

    & .input-container {
        font-size: 28px;

        & input {
            height: 30px;
            font-size: 26px;
            padding-left: 10px;
        }
    }

        & .user-info{
            & h2{
                font-size: 26px;
            }

            & img{
                height: 200px;
                width: 200px;
            }
        }
    }

    footer {
        & .adresses {
            font-size: 10px;
            &>h2 {
                font-size: 20px;
            }
        }
        & .info {
            height: 50px;
            font-size: 16px;
        }
    }

    .total{
        font-size: 3.5vw;
        height: 10vw;
        right: 30vw;
        min-width: 70px;
        min-height: 50px;
    }

    .container {
        & h3{
            font-size: 3.5vw;
        }
        & p{
            font-size: 2vw;
        }
    }
    .orders{
        height: 70vw;
        min-height: 400px;

        & .orders-container{
            height:100%;

            & .orders-container-container{

                & .order-container{
                     min-width: 200px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    header {
        height: 100px;
        & h1 a{
            font-size: 8vw;
        }
        & .manage{
            
            & h3, h4{
                font-size: 16px;
            }

            & img {
                width: 50px;
                height: 50px;
            }

            & .user-menu {
                width: 100px;
                top: 100px;
                border-radius: 0 0 5px 5px;
                font-size: 8px;

                & li a{
                    width:100%;
                    padding: 3px 0;
                }
            }
        }
    }

    .balance-control-page{
        flex-direction: column-reverse;
        gap: 10vw;
        align-items: center;

        & div{
            width: 100%;
        }

        & .balance{
            font-size: 6vw;
        }
    }

    .orderPage {
        gap: 10px;
        margin-bottom: 40px;

        & .button-container {
            max-height: 60px;
            height: 60px;
            width: 50%;
        }

        & .toOrder {
            width: 200px;
            height: 50px;
            border-radius: 10px;
            font-size: 24px;
        }

        & .order-header {
            display: flex;
            width: 100%;
            height: 20%;
        }

        & .order {
            height: 200px;
            min-height: 200px;
            gap: 10px;
            padding: 5px $marginBase;
            color: black;

            & img {
                width: 60%;
                height: 70%;
            }

            & .order-info {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                & .order-description {
                    font-size: 1.5vw;
                    height:30%;
                    min-height: 0;
                }

                & .balance-control {
                    width: 100%;
                    min-width: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-bottom: 5%;
                    margin: 0;
                }

                * .order-price {
                    max-width: 30%;
                    width: 40%;
                    max-width: none;
                    display: flex;
                    justify-content: flex-end;
                }

                & .counter {
                    display: flex;
                    max-width: 200px;
                    min-width: 0;
                    width:100px;
                    height: 100%;
                    align-items: flex-end;

                    & input {
                        width: 40px;
                        height: 30px;
                        font-size: 20px;
                    }

                    & button {
                        min-width: 20px;
                        width: 30px;
                        height: 30px;
                        border: none;
                    }
                }
            }
        }
    }


    .profile-container {
        flex-direction: column-reverse;
        gap: 50px;

        & .control-panel{
            width: 100%;

                & input {
                    width: 50%;
                    height: 25px;
                    font-size: 20px;
                    padding-left: 15px;
                }     
        }


    


        & .user-info {
            & h2 {
                font-size: 20px;
            }

            & img {
                height: 150px;
                width: 150px;
            }
        }
    }

    footer {
        flex-direction: column;
        text-align: center;
        * .adresses{
            font-size: 5px;
        }
        & .info{
            font-size: 10px;
        }
    }
    .orders{
        & .pages {
            & .set-page{
            border-radius: 3vw;
            min-width: 30px;
            min-height: 30px;
            font-size: 4vw;
            }
        }        
    }


    
}
