@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
a {
  text-decoration: none;
  color: black; }

* {
  margin: 0;
  padding: 0; }

body {
  background: black;
  color: white;
  overflow-x: hidden; }

img {
  border-radius: 10px; }

header {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  padding: 0 5%;
  background-color: rgba(0, 0, 0, 0.3); }
  header h1 {
    display: flex;
    margin-bottom: 30px; }
    header h1 a {
      color: white;
      text-decoration: none;
      font-size: 10vw;
      cursor: pointer;
      transition-duration: 100ms;
      vertical-align: bottom; }
      header h1 a:hover {
        text-shadow: 2px 2px 2px #fffb00; }
  header .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover; }
  header .manage {
    display: flex;
    margin: 20px 0; }
  header .user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    align-items: center; }
  header .user-menu {
    z-index: 1000;
    position: absolute;
    color: black;
    background: white;
    width: 200px;
    top: 200px;
    right: 5%;
    list-style-type: none;
    text-align: center;
    border-radius: 0  0 10px 10px;
    opacity: 0.8;
    overflow: hidden; }
    header .user-menu li {
      cursor: pointer; }
      header .user-menu li a {
        color: black;
        padding: 3px 5px;
        width: 100%;
        height: 100%;
        display: block; }
      header .user-menu li:hover {
        background-color: #c9c9c9;
        color: white; }

main {
  margin-top: 100px;
  min-height: 500px; }

.article {
  margin: 0 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  padding-bottom: 15px;
  width: 75%;
  display: block;
  border-bottom: 1px solid white; }
  .article::first-letter {
    text-transform: uppercase; }

.orders-article {
  margin: 50px 5%;
  margin-bottom: 0; }

.popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0; }

.popular-field {
  overflow: hidden;
  position: absolute;
  display: flex;
  max-width: 90%;
  margin: 10px 5%; }
  .popular-field .orders-container {
    overflow: hidden;
    display: flex;
    top: 110px;
    transition-duration: 400ms; }
  .popular-field .order-container {
    background-color: #c9c1aa;
    color: black; }
    .popular-field .order-container:hover img {
      filter: blur(1px);
      transform: scale(1.1); }
    .popular-field .order-container .image-container {
      display: block;
      overflow: hidden;
      width: 90%;
      height: 80%;
      border-radius: 20px; }
    .popular-field .order-container img {
      transition-duration: 0.5s;
      width: 100%;
      height: 100%; }

.arrow {
  cursor: pointer;
  font-size: 4.5vw;
  color: #cecece;
  user-select: none; }
  .arrow:hover {
    color: #a7a7a7; }
  .arrow:active {
    color: white; }

.left {
  transform: scale(-1, 1); }

.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 700px; }

.popular .order-container {
  min-width: 400px;
  height: 250px; }

.order-container {
  cursor: pointer;
  max-width: 450px;
  height: 20vw;
  min-height: 170px;
  background-color: #dbdbdb;
  padding: 10px 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border-radius: 20px; }
  .order-container:hover img {
    filter: blur(1px);
    transform: scale(1.1); }
  .order-container .image-container {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 80%;
    border-radius: 20px; }
  .order-container img {
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .order-container .order-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 88%;
    height: 28%; }
  .order-container .order-description {
    font-size: 14px;
    width: 70%; }
    .order-container .order-description::first-letter {
      text-transform: uppercase; }
  .order-container .order-name {
    min-width: 300px;
    text-align: center;
    position: absolute;
    margin-top: 60px;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000; }
  .order-container .order-price {
    color: #424242;
    font-size: 30px;
    font-family: Roboto; }
  .order-container .bigger-description {
    font-size: 18px; }

.orders {
  background: rgba(0, 0, 0, 0.3); }
  .orders .orders-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin: 0 5%; }
  .orders .orders-container-container {
    display: flex;
    height: 95%;
    justify-content: flex-start; }
    .orders .orders-container-container .order-container {
      height: 100%;
      max-height: 500px;
      width: 50%;
      max-width: 600px;
      margin-left: 0;
      margin-right: 10px;
      padding-top: 20px;
      color: black; }
      .orders .orders-container-container .order-container .order-name {
        margin-top: 140px;
        font-size: 40px; }
      .orders .orders-container-container .order-container .order-description {
        font-size: 24px;
        height: 100%;
        display: flex;
        align-items: flex-end; }
      .orders .orders-container-container .order-container .order-info {
        max-height: 500px; }
      .orders .orders-container-container .order-container .order-price {
        font-size: 48px; }
  .orders .pages {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    margin: 50px 0; }
    .orders .pages .set-page {
      height: 10vw;
      width: 10vw;
      max-height: 70px;
      max-width: 70px;
      margin-right: 10px;
      background-color: #6b6877;
      color: white;
      border: none;
      border-radius: 20px;
      font-size: 24px;
      cursor: pointer;
      transition-duration: 200ms; }
      .orders .pages .set-page:hover {
        background-color: #827f91; }
      .orders .pages .set-page:active {
        background-color: #c0bbd6; }
    .orders .pages .choosen {
      background-color: #ffffff;
      color: black; }
      .orders .pages .choosen:hover {
        background-color: #ffffff; }
      .orders .pages .choosen:active {
        background-color: #ffffff; }

.shipping-payment {
  height: 400px;
  display: flex;
  margin: 80px 5% 0px 5%;
  flex-direction: column;
  justify-content: space-between; }
  .shipping-payment h2 {
    height: 15%; }
  .shipping-payment .container {
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: space-between; }
    .shipping-payment .container div {
      max-width: 45%; }
  .shipping-payment h3 {
    margin: 10px 0; }

.background {
  opacity: 0.3;
  height: 200px;
  width: 100%;
  z-index: -1;
  position: absolute;
  background: center/cover no-repeat url("./img/mixed-ingredient-pizza-with-isolated-products-stone.jpg"); }

.footer-black {
  height: 200px;
  width: 100%;
  z-index: -2;
  position: absolute;
  background-color: black; }

#body-background {
  opacity: 0.4;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: -3;
  position: fixed;
  background: 0px bottom/cover no-repeat url("./img/pizza-time-tasty-homemade-traditional-pizza-italian-recipe.jpg"); }

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 100%;
  color: white; }
  footer li {
    list-style-type: none; }
  footer .adresses {
    font-size: 16px; }
    footer .adresses > h2 {
      font-size: 28px;
      margin-bottom: 10px; }
  footer .info {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 24px; }
    footer .info .phone-number {
      display: inline;
      margin: 10px; }

.modal-background {
  position: fixed;
  z-index: 1000;
  background-color: #00000079;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .modal-background .menu-container {
    margin: auto;
    margin-top: 2%;
    width: 50%;
    height: 90%;
    background-color: white;
    display: flex;
    color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    border-radius: 30px;
    padding: 10px; }
  .modal-background .image-container {
    width: 95%;
    height: 55%;
    overflow: hidden;
    border-radius: 10px; }
    .modal-background .image-container img {
      width: 100%;
      object-fit: cover;
      height: 100%; }
  .modal-background .close {
    cursor: pointer;
    min-height: 50px; }
  .modal-background .close-container {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    font-size: 48px;
    height: 5%;
    min-height: 50px;
    line-height: 48px; }
  .modal-background .order-name {
    font-size: 42px; }
  .modal-background .button-container {
    width: 40%;
    height: 9%;
    min-width: 280px; }
  .modal-background button {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 28px;
    font-family: Rubik;
    color: white;
    font-weight: 900;
    background-color: #60568a;
    cursor: pointer;
    box-shadow: 0 7px #433574;
    outline: none;
    letter-spacing: 1px;
    transition-duration: 100ms;
    min-height: 60px; }
    .modal-background button:hover {
      margin-top: 1.2px;
      box-shadow: 0 6px #433574; }
    .modal-background button:active {
      margin-top: 6px;
      box-shadow: 0 0 #433574; }
  .modal-background .added {
    background-color: #ff8888;
    box-shadow: 0 7px #743535;
    min-width: 280px;
    min-height: 60px; }
    .modal-background .added:hover {
      box-shadow: 0 6px #743535; }
    .modal-background .added:active {
      box-shadow: 0 0px #743535; }
  .modal-background .modal-head {
    display: flex;
    width: 90%;
    font-size: 30px;
    justify-content: center;
    gap: 50px; }
    .modal-background .modal-head h3 {
      font-family: Roboto;
      font-weight: 900;
      font-size: 48px; }
  .modal-background .order-description {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    max-width: 95%;
    width: 95%; }
    .modal-background .order-description::first-letter {
      text-transform: uppercase; }

.balance-control-page {
  display: flex;
  font-size: 42px;
  width: 90%;
  margin: 0 5%;
  justify-content: space-around;
  font-family: Rubik; }
  .balance-control-page > div {
    width: 40%; }
    .balance-control-page > div input {
      box-sizing: border-box;
      height: 50px;
      max-width: 100%;
      width: 100%;
      font-size: 30px;
      font-family: Rubik; }
    .balance-control-page > div button {
      width: 30%;
      cursor: pointer;
      font-family: Rubik;
      font-size: 1.5vw; }

.control-panel {
  display: flex;
  justify-content: space-between;
  margin-top: 5px; }
  .control-panel button {
    min-height: 50px; }

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  font-size: 10vw;
  font-family: Rubic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase; }

.orderPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 40px; }
  .orderPage .button-container {
    max-height: 100px;
    height: 100px;
    display: flex;
    width: 50%;
    margin-left: 5%; }
  .orderPage .toOrder {
    border: none;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    font-size: 32px;
    font-family: Rubik;
    color: white;
    font-weight: 900;
    background-color: #60568a;
    cursor: pointer;
    box-shadow: 0 7px #433574;
    outline: none;
    letter-spacing: 1px;
    transition-duration: 100ms;
    letter-spacing: 2px; }
    .orderPage .toOrder:hover {
      margin-top: 1.2px;
      box-shadow: 0 6px #433574; }
    .orderPage .toOrder:active {
      margin-top: 6px;
      box-shadow: 0 0 #433574; }
  .orderPage .order-header {
    display: flex;
    width: 100%;
    height: 100px; }
    .orderPage .order-header .order-name {
      width: 100%;
      height: 100%;
      font-size: 4vw;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }
    .orderPage .order-header .cross {
      width: 10%;
      height: 100%;
      line-height: 60px;
      color: #353535;
      font-size: 6vw;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none; }
  .orderPage .order {
    max-width: 100%;
    height: 35vw;
    min-height: 300px;
    display: flex;
    gap: 40px;
    padding: 10px 5%;
    background-color: rgba(255, 255, 255, 0.514);
    color: black; }
    .orderPage .order img {
      width: 50%;
      object-fit: cover; }
    .orderPage .order .order-info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px; }
      .orderPage .order .order-info .order-description {
        font-size: 2vw;
        min-height: 100px; }
        .orderPage .order .order-info .order-description::first-letter {
          text-transform: uppercase; }
      .orderPage .order .order-info .balance-control {
        height: 40%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 5%;
        font-family: Roboto;
        margin: 0; }
      .orderPage .order .order-info * .order-price {
        max-width: 30%;
        width: 100%;
        font-size: 5vw; }
      .orderPage .order .order-info .counter {
        display: flex;
        min-width: 200px;
        max-width: 200px;
        width: 200px;
        user-select: none; }
        .orderPage .order .order-info .counter input {
          width: 70px;
          text-align: center;
          height: 50px;
          border: none;
          border-left: 1px solid #000;
          border-right: 1px solid #000; }
        .orderPage .order .order-info .counter button {
          min-width: 50px;
          width: 50px;
          height: 50px;
          border: none;
          cursor: pointer; }

.total {
  position: fixed;
  right: 22.5%;
  top: 0;
  width: 15%;
  height: 120px;
  border-radius: 0 0 10px 10px;
  background: white;
  font-size: 40px;
  color: black;
  opacity: 0.5;
  text-align: center;
  font-family: Rubik;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile-container {
  display: flex;
  margin: 0 5%;
  justify-content: space-between;
  width: 90%;
  font-family: Rubick;
  font-size: 30px; }
  .profile-container .control-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
    width: 60%; }
  .profile-container .input-container {
    width: 100%;
    height: 70%; }
    .profile-container .input-container input {
      width: 50%;
      height: 50px;
      font-size: 30px;
      padding-left: 15px; }
    .profile-container .input-container textarea {
      width: 100%;
      height: 100%;
      resize: none; }
  .profile-container .input-name {
    height: 30%; }
  .profile-container .user-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .profile-container .user-info h2 {
      font-family: Roboto;
      letter-spacing: 1px; }
    .profile-container .user-info img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50px; }

@media (max-width: 1100px) {
  .profile-container .input-container {
    font-size: 28px; }
    .profile-container .input-container input {
      height: 30px;
      font-size: 26px;
      padding-left: 10px; }
  .profile-container .user-info h2 {
    font-size: 26px; }
  .profile-container .user-info img {
    height: 200px;
    width: 200px; }

  .popular {
    height: 250px; }
    .popular .popular-field {
      height: 250px; }
      .popular .popular-field .order-container {
        height: 80%;
        min-width: 300px; }
        .popular .popular-field .order-container .order-name {
          font-size: 20px;
          margin-top: 30px; }
        .popular .popular-field .order-container .order-info {
          overflow: hidden;
          height: 40%;
          padding-top: 2px; }
          .popular .popular-field .order-container .order-info .bigger-description {
            font-size: 10px; }

  footer .adresses {
    font-size: 10px; }
    footer .adresses > h2 {
      font-size: 20px; }
  footer .info {
    height: 50px;
    font-size: 16px; }

  .total {
    font-size: 3.5vw;
    height: 10vw;
    right: 30vw;
    min-width: 70px;
    min-height: 50px; }

  .container h3 {
    font-size: 3.5vw; }
  .container p {
    font-size: 2vw; }

  .modal-background .menu-container {
    width: 60vw;
    height: 100vw;
    gap: 3vw;
    max-width: 500px;
    max-height: 90%;
    padding-bottom: 3vw; }
    .modal-background .menu-container .close-container {
      height: 10%;
      min-height: 40px; }
    .modal-background .menu-container .close {
      font-size: 10vw;
      line-height: 10vw; }
    .modal-background .menu-container .button-container {
      display: flex;
      justify-content: center;
      height: 7.5vw;
      width: 30.5vw;
      min-height: 40px; }
    .modal-background .menu-container button {
      height: 8vw;
      width: 35vw;
      font-size: 3vw;
      min-height: 30px;
      min-width: 130px;
      max-height: 70px; }
    .modal-background .menu-container .order-name, .modal-background .menu-container .order-price {
      font-size: 5vw; }
    .modal-background .menu-container .order-description {
      font-size: 2vw; }

  .orders {
    height: 70vw;
    min-height: 400px;
    max-height: 1000px; }
    .orders .orders-container {
      height: 100%; }
      .orders .orders-container .orders-container-container .order-container {
        min-width: 150px;
        min-height: 200px;
        height: 50vw; }
        .orders .orders-container .orders-container-container .order-container .order-name {
          font-size: 4vw;
          margin-top: 15vw; }
        .orders .orders-container .orders-container-container .order-container .order-info {
          overflow-y: hidden; }
          .orders .orders-container .orders-container-container .order-container .order-info p {
            font-size: 2vw; }
          .orders .orders-container .orders-container-container .order-container .order-info .order-price {
            font-size: 5vw; }

  .orders .pages {
    margin: 0;
    height: 20%; }
    .orders .pages .set-page {
      border-radius: 20px;
      min-width: 50px;
      min-height: 50px;
      font-size: 3dvh; }

  .orderPage {
    gap: 10px;
    margin-bottom: 40px; }
    .orderPage .button-container {
      max-height: 60px;
      height: 60px;
      width: 50%; }
    .orderPage .toOrder {
      width: 200px;
      height: 50px;
      border-radius: 10px;
      font-size: 24px; }
    .orderPage .order-header {
      display: flex;
      width: 100%;
      height: 20%; }
    .orderPage .order {
      height: 30vw;
      min-height: 200px;
      gap: 10px;
      padding: 5px 5%;
      color: black; }
      .orderPage .order img {
        width: 60%;
        height: 30vw;
        max-height: 100%; }
      .orderPage .order .order-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px; }
        .orderPage .order .order-info .order-description {
          font-size: 1.5vw;
          height: 30%;
          min-height: 0; }
        .orderPage .order .order-info .balance-control {
          width: 100%;
          min-width: 0;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding-bottom: 5%;
          margin: 0; }
        .orderPage .order .order-info * .order-price {
          max-width: 30%;
          width: 100%;
          max-width: none;
          display: flex;
          justify-content: flex-end; }
        .orderPage .order .order-info .counter {
          display: flex;
          max-width: 200px;
          min-width: 0;
          width: 200px;
          height: 100%;
          align-items: flex-end; }
          .orderPage .order .order-info .counter input {
            width: 60px;
            height: 40px;
            font-size: 20px; }
          .orderPage .order .order-info .counter button {
            min-width: 20px;
            width: 40px;
            height: 40px;
            border: none; } }
@media (max-width: 700px) {
  header {
    height: 100px; }
    header h1 a {
      font-size: 8vw; }
    header .manage h3, header .manage h4 {
      font-size: 16px; }
    header .manage img {
      width: 50px;
      height: 50px; }
    header .manage .user-menu {
      width: 100px;
      top: 100px;
      border-radius: 0 0 5px 5px;
      font-size: 8px; }
      header .manage .user-menu li a {
        width: 100%;
        padding: 3px 0; }

  .balance-control-page {
    flex-direction: column-reverse;
    gap: 10vw;
    align-items: center; }
    .balance-control-page div {
      width: 100%; }
    .balance-control-page .balance {
      font-size: 6vw; }

  .profile-container {
    flex-direction: column-reverse;
    gap: 50px; }
    .profile-container .control-panel {
      width: 100%; }
      .profile-container .control-panel input {
        width: 50%;
        height: 25px;
        font-size: 20px;
        padding-left: 15px; }
    .profile-container .user-info h2 {
      font-size: 20px; }
    .profile-container .user-info img {
      height: 150px;
      width: 150px; }

  footer {
    flex-direction: column;
    text-align: center; }
    footer * .adresses {
      font-size: 5px; }
    footer .info {
      font-size: 10px; } }
